.posts{
  display: flex;
  justify-content: center;
  padding: 5rem;

}

.head{
  display: flex;
  justify-content:space-evenly;
  margin-top: 2rem;
}

.img-perfil{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}